body {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

div {
    height: 50vh;
    width: auto;
    background-color: cadetblue;
    opacity: 1;
    transition-duration: 1s;
}

.highlight {
    opacity: 0.5;
    transition-duration: 1s;
}
